<%- include('../partials/header') %>
 
<section id="show-page">
    <div>Airport</div>
    <div><%= flight.airport %></div>
    <div>Airline</div>
    <div><%= flight.airline %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs</div>
    <div><%= flight.departs %></div>
</section>

<h2>Tickets</h2>
<table>
    <thead>
        <tr>    
            <th>Seat</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(t) { %>
        <tr> 
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
        </tr>
        <% })  %>
    </tbody>
</table>
<h3>Enter a New Ticket</h3>
<form action="/flights/<%= flight.id %>/ticket" method="POST">
    <label>Seat:
        <input type="string" name="seat" pattern="[A-F][1-9]\d?">
    </label><br>
    <label>Price:
        <input type="number" name="price">
    </label><br>
    <button type="submit">Add Ticket</button>
</form>

<h3>Add Destination</h3>
<form id="add-destination-form" method="POST" action="/flights/<%= flight.id %>/destination">
    <label>Destination:
        <input type="text" name="airport" required>
    </label><br>
    <label>Arrival Date/Time:
        <input type="datetime-local" name="arrival" required>
    </label><br>
    <button type="submit">Add Destination</button>
</form>

<h3>Destinations</h3>
<ul>
  <% flight.destinations.forEach(function(d) { %>
  <li><%= d.airport %> - <%= d.arrival %></li>
  <% }) %>
</ul>


<%- include('../partials/footer') %>